DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/verzel_events
JWT_SECRET=change-me-in-development
JWT_ALGORITHM=HS256
ACCESS_TOKEN_MINUTES=60
CORS_ORIGINS=http://localhost:5173
TMDB_API_KEY=sua_chave_da_tmdb
